.ImageBack{
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.SectionImage{
    width: 50%;
    height: 100%;

}
.PortadaImg{
    width: 90%;
    height: 90%;
    margin: 5%;
    border: 5px solid rgb(42, 8, 134);
    border-radius: 10px;
}
.SectionInfo{
    width: 50%;

}